 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/landingPage_style.css">
    <title>Document</title>
 </head>
 <body>
    <header>
   <!-- <div class="top-section"> -->


     <div>

        <a href="https://www.google.ca/">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
        </a>
    </div>
        <!-- Menu list -->
        <div class="menu">
            <ul class="list">
                <li><a href="">Home</a></li>
                <li><a href="/index">Destination</a></li>
                <li><a href="#places-to-go">Places-to-Go</a></li>
                <li><a href="#blog">Blog</a></li>
            </ul>
        <!-- </div> -->  
    </header>
  
 </body>
 </html>
 
